# ____ Doorbot Specific Ignores _____
config/enclave_auth.json
config/enclave_config.json
config/enclave_keys.json
config/config_test.json
sounds/custom
.vscode
.venv
slack_tokens.txt
original_config
*.csv

# ____ Generic Python ignores _____
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

