# ____ Doorbot Specific Ignores _____
data/
.vscode
.venv
*.csv
config.json
user_cache.json
*.log*

# ____ Generic Python ignores _____
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

