# ____ Doorbot Specific Ignores _____
sounds/custom
.vscode
.venv
*.csv
config.json
keys_cache.json

# ____ Generic Python ignores _____
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

