{
    "SLACK_APP_TOKEN": "",
    "SLACK_BOT_TOKEN": "",
    "mock_raspberry_pi": false,
    "slack_channel": "#doorbot-slack-test",
    "relay_channel": "R1",
    "keys": {
        "url": "http://enclave:5000/api/v1/keys/door?token=xxxx",
        "cache_file": "keys_cache.json"
    },
    "level": 1,
    "admin_usergroup_handle": "doorbot-admins"
}