[Unit]
Description=Doorbot
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/doorbot_1.3
ExecStartPre=sudo pigpiod
ExecStart=/bin/bash -c 'source .venv/bin/activate; python -u -m doorbot'
Restart=always
RestartSec=3
KillMode=control-group
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
